@import "./palette";
@import "./search";

#community {


  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3{
    font-size: 24px;
  }

  .warning{
    color:$warning-button-text;
  }

  .button.tiny {
    font-size: 14px;
  }

 .join-intro{

 }

  .community-value-props{
    margin-top: 70px;
  }

  .community-value-props input{
    color: $community-value-props-input-text;
    font-family: CircularPro;
    background: $community-value-props-input-bg;
    border: none;

  	   &::-webkit-input-placeholder {
  	     /* Chrome/Opera/Safari */
  	     padding-left: 10px;
  	     color: $community-value-props-input-text;
  	   }

  	   &::-moz-placeholder {
  	     /* Firefox 19+ */
         padding-left: 10px;
         color: $community-value-props-input-text;
  	   }

  	   &:-ms-input-placeholder {
  	     /* IE 10+ */
         padding-left: 10px;
         color: $community-value-props-input-text;
  	   }

  	   &:-moz-placeholder {
  	     /* Firefox 18- */
         padding-left: 10px;
         color: $community-value-props-input-text;
  	   }
    &:focus {

    }

  }

  .callout{
    min-height:210px;
    line-height: 24px;
  }

  .blog-post{
     padding-bottom: 10px;
  }

  .callout-img1{
    width: 185px;
    top: -30px;
    right: 20px;
    position: absolute;
  }
  .callout-img2{
      right:5px;
      width: 170px;
      bottom:-69px;
      position: absolute;
  }




  .main {
    min-height: 800px;
    background: $sidebar-bg;

    .sidebar {}
  }

  .sidebar {
    margin-top: 20px;

    .title {
      font-weight: bold;
      font-size: 0.8em;
    }

    li {
      a {
        padding-left: 0;
        font-weight: normal;
        padding-top: 0.5rem 1rem;
        padding-bottom: 0.5rem 1rem;
        line-height: 1;
        font-size: 0.9em;
      }
    }
  }

  .content {
    background: $primary-nav-fg;
    min-height: 800px;
  }

  .events{
    img{
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }
  }

  .profile {
    display: none;
  }

  section{
    padding-top: 30px;
    padding-bottom: 30px;
    &.events{
      margin-top: 20px;
    }
  }

}
